@media screen and (max-width: 1470px){
    #block p{
        font-size: 20px;
    }

    #block .dugme{
        width: 50%;
    }
    .spacer{
        width: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .card-text {
        font-size: 25px;
    }
    #kontakt-mapa{
        height: auto;
    }
}

@media screen and (max-width: 1168px) {
    .content-container h2 {
        font-size: 40px;
    }
    .content-container p {
        font-size: 20px;
    }
}

@media screen and (max-width: 860px) {
    #block .dugme{
        width: 60%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 778px){
    #cover-text1{
        font-size: 6rem;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .autor-container {
        flex-direction: row;
        align-items: center;
    }
    .spacer {
        width: 400px;
    }
}

@media screen and (max-width: 767px){
    #block #zamena-mesta{
    flex-direction: column-reverse;
    }
    #autordrzac{
        height: auto;
    }
    .autor-img{
        margin: 0px auto;
    }

    #block #zamena-mesta h2{
        margin-top: 20px;    
    }

    .menu-section{
        border-right: none;
        border-bottom: 1px solid var(--primary);
    }
    
}

@media screen and (max-width: 600px) {
    .card-text {
        font-size: 20px;
    } 
}

@media screen and (max-width: 596px)
{
    #cover-text1{
        font-size: 5rem;
    } 
}

@media screen and (max-width: 400px) {
    #usluge .dugme{
        width: 50%;
    }
}
@media screen and (max-width: 350px) {
    #usluge .usluga{
        width: 250px;
        height: 450px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    #block .dugme{
        width: 70%;
    }
    #block p{
        font-size: 15px;
    }

    #cover-text{
        font-size: 6rem;
    }
}

@media screen and (max-width: 278px) {
    #block .dugme{
        width: 80%;
    }
}