@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 
    box;
    font-family: 'Ubuntu', sans-serif;
}
:root {
    --primary: #8d6944;
    --secondary: #0e0d09;
    --t-color: #c8935f;
}

#header{
    background-color: #0e0d09;
    width: 100%;
}

.navbarboja{
    background-color: var(--primary);
}

.p-color{
   color: #8d6944; 
}

.active, .nav-link:hover{
    color: var(--t-color) !important;
}
main{
    background-color: var(--secondary);
}

.carousel-item {
    height: 800px;
    border-bottom: 1px solid var(--t-color);
  }
  
.carousel-item img{
    height: 800px;
    width: 100%;
}

.carousel-caption {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    left: 0;
    bottom: 50px; 
    text-align: center;
}

.about-section{
    background-color: var(--secondary);
}

.content-block {
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-block i {
    font-size: 2rem; 
    margin-bottom: 15px; 
}

#usluge{
    border-bottom: 1px solid var(--t-color);
    width: 100%;
}

.naslov{
    color: var(--primary);
    font-size: 40px;
}

.usluga{
    background-color: var(--primary);
    border-radius: 10px;
    transition: 0.5s;
    width: 300px;
    margin-bottom: 20px;
}

.usluga .fa-solid{
    font-size: 60px;
    color: var(--secondary);
}

.usluga h3{
    font-size: 40px;
    color: var(--secondary);
}
.usluga p{
    font-size: 19px;
    color: var(--secondary);
}

.usluga:hover{
    background-color: var(--t-color);
}

.dugme{
    height: 50px;
    background-color: var(--primary);
    transition: 0.5s;
}

.dugme1{
    height: 50px;
    background-color: var(--secondary);
    transition: 0.5s;
    color: var(--primary);
}
#usluge .dugme1{
    width: 50%;
}

.dugme:hover{
    background-color: var(--t-color);
}

.guest-card {
    min-height: 400px; 
}
.guest-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 15px 0;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--primary);
    border-radius: 10px;
}

.card {
    background: none;
}

#opinions{
    border-bottom: 1px solid var(--t-color);
    width: 100%;
}

#block{
    border-bottom: 1px solid var(--t-color); 
}
#block p{
    color: var(--primary);
    font-size: 25px;
}
.content-div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.img-fluid {
    max-height: 100%; 
    object-fit: cover; 
}
.btn {
    width: 30%; 
    margin: auto; 
}

.left{
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

.right{
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);;
}

footer{
    background-color: var(--secondary);
    border-top: 1px solid var(--primary);
    width: 100%;
    color: var(--primary);
}

footer .fa-solid, .fa-brands{
    color: var(--primary);
    font-size: 30px;
}

/* MENI STRANICA*/
#cover-meni{
    height: 100vh;
    border-bottom: 1px solid var(--primary);
}
.cover-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/menu.jpg'); 
    background-size: cover;
    background-position: center;
    color: #c2c2c2;
}

.cover-heading {
    font-size: 8em;
    font-weight: bold;
    animation: slideIn 1.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}

.menu-section {
    border-right: 2px solid var(--primary); 
}
.menu-item {
    text-align: center; 
    padding: 20px 0; 
}
.menu-section:last-child {
    border-right: none; 
}
.naslov, .menu-subtitle, .menu-name, .menu-price, .menu-ingredients {
    margin-bottom: 10px; 
}

.menu-subtitle, .menu-name, .menu-ingredients {
    color: #c2c2c2;
}

.menu-price{
    color: var(--t-color);
}

/*VINSKA KARTA*/

.cover-container2{
    display: flex;
    align-items: center; 
    justify-content: center; 
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/vkarta.jpg'); 
    background-size: cover;
    background-position: center;
    color: #c2c2c2; 
}
.image-container {
    width: 100%; 
}
 .content-container h2 {
    color: var(--primary);
    font-size: 50px;
    text-align: center;
}
.content-container p {
    color: #c2c2c2;
    font-size: 30px;
    text-align: justify;
}
.image-container img {
    width: 100%;
    height: auto;
}
.content-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#vino{
    border-bottom: 1px solid var(--primary);
}

/*KONTAKT*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
    height: 0;
    width: 100%;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#kontakt-mapa{
    border-top: 1px solid var(--primary);
    height: 100vh;
}

textarea{
 resize: none;
 height: 100px;
}

/*AUTOR*/

#autordrzac{
    border-top: 1px solid var(--primary);
    height: 100vh;
}
.autor-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.autor-img {
    width: 100%;
    max-width: 400px;
    animation: slideIn 2s forwards;
    box-shadow: 10px 10px 10px var(--primary);
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.autor-text {
    padding: 20px;
    font-size: 20px;
    color: var(--primary);
}